/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 56px;
height: 559px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
