* {
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
body {
  margin: 0;
}
.container {
  width: 1184px;
  padding: 0 16px;
  margin: 0 auto;
}
:root {
  --primary-color: #4caf4f;
  --secondary-color: #263238;
  --black: #263238;
  --D-grey: #4d4d4d;
  --grey: #717171;
  --L-grey: #89939e;
  --grey-blue: #abbed1;
  --silver: #f5f7fa;
  --white: #ffffff;
}
.color-primary {
  color: var(--primary-color);
}
.color-secondary {
  color: var(--secondary-color);
}
.color-silver {
  color: var(--silver);
}
.color-black {
  color: var(--black);
}
.color-D-grey {
  color: var(--D-grey);
}
.color-grey {
  color: var(--grey);
}
.color-L-grey {
  color: var(--L-grey);
}
.color-grey-blue {
  color: var(--grey-blue);
}
.color-white {
  color: var(--white);
}
h1 {
  font-size: 68px;
  font-weight: 600;
  line-height: 76px;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.footer-bottom {
  padding: 65px 0;
  background-color: #263238;
  align-items: center;
}
.footer-bottom .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-bottom .logo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-bottom .logo .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-bottom p {
  color: #f5f7fa;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.footer-bottom .container .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.shits {
  display: flex;
  gap: 30px;
}
.footer-bottom .shits h4 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
}
input {
  width: 255px;
  height: 40px;
  border: none;
  top: 52px;
  gap: 0px;
  border-radius: 8px;
  background: rgba(81, 91, 96, 255);
}
input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #d9dbe1;
}
